<md-dialog aria-label="Edit Comment" ng-controller="MainController">
    <form ng-cloak layout="column">
        <div class="md-toolbar-tools">
            <span class="popup">Edit comment</span>
            <span class="spacer"></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="assets/images/ic_close.svg" aria-label="Close dialog" class="material-icons"></md-icon>
            </md-button>
        </div>
        <md-divider></md-divider>
        <md-dialog-content>
            <div class="md-dialog-content squish">
                <md-input-container class="md-block">
                    <label class="name">comment name</label>
                    <input ng-model="editCommentName" type="text">
                </md-input-container>
                <div class="space"></div>
                <md-input-container class="md-block">
                    <label class="body">comment body</label>
                    <input ng-model="editCommentBody" type="text">
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="email">comment email</label>
                    <input ng-model="editCommentEmail" type="text">
                </md-input-container>
            </div>
            <md-divider></md-divider>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="editComment()" class="md-accent md-raised beautify">
                EDIT COMMENT
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
